.bg-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.item-name {
  position: absolute;
  top: calc(50% - 9px);
  left: 1em;
  font-size: 1em;
  font-weight: 500;
  display: inline-block;
  min-width: 5.188em;
}
.iconsend1 {
  position: absolute;
  top: calc(50% - 17px);
  right: 0.5em;
  width: 2.125em;
  height: 2.125em;
  display: none;
}
.inputsearch1 {
  align-self: stretch;
  height: 3.125em;
  position: relative;
  border-radius: 100px;
  background-color: #f6f6f6;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
}
.item-price {
  position: absolute;
  top: calc(50% - 9px);
  left: 1em;
  font-size: 1em;
  font-weight: 500;
  display: inline-block;
  min-width: 4.875em;
}
.bg-icon3,
.inputsearch2 {
  height: 3.125em;
  position: relative;
  border-radius: 100px;
}
.inputsearch2 {
  align-self: stretch;
  background-color: #f6f6f6;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  z-index: 3;
}
.bg-icon3 {
  width: 21.438em;
  display: none;
  max-width: 100%;
}
.shipping-method {
  position: relative;
  font-size: 1em;
  font-weight: 500;
  z-index: 1;
}
.iconsend3 {
  height: 2.125em;
  width: 2.125em;
  position: relative;
  display: none;
}
.teenyiconsdown-solid {
  width: 0.938em;
  height: 0.938em;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.inputsearch3,
.teenyiconsdown-solid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.125em 0 0;
}
.inputsearch3 {
  align-self: stretch;
  border-radius: 100px;
  background-color: #f6f6f6;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.875em 1em 0.813em 0.938em;
  max-width: 100%;
  gap: 1.25em;
  cursor: pointer;
}
.submit {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 26.5px);
  font-size: 1em;
  font-weight: 500;
  display: inline-block;
  min-width: 3.375em;
}
.inputsearch4 {
  align-self: stretch;
  height: 3.125em;
  position: relative;
  border-radius: 100px;
  background-color: #5db075;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 2;
  color: #fff;
}
.inputsearch-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.25em;
  max-width: 100%;
  text-align: left;
  color: #bdbdbd;
  font-family: Inter;
}
